{% extends 'base.html' %}

{% block content %}

<h1>See all the trainings!</h1>

  
{% for training in trainings %}
<div class="card text-center">
  <div class="card-body ">
    <h5 class="card-title">{{ training.title }} <span class="badge badge-secondary">Booked {{training.participants | length}}</span></h5>
    <p class="card-text">{{ training.description }}</p>
    <form>
    <button class="btn btn-primary"
              formaction="/trainings/{{training.id}}">Details
      </button>
    {% if g.user.is_trainer and g.user.id == training.trainer_users_id %}
    
      <button class="btn btn-warning"
              formaction="/trainings/{{training.id}}/edit"
              formmethod="GET">Edit
      </button>
      <button class="btn btn-danger"
              formaction="/trainings/{{training.id}}/delete"
              formmethod="POST">Delete
      </button>
    
    {%else%}
    {% if training in g.user.user_trainings%}
      <button class="btn btn-primary"
              formaction="/trainings/{{training.id}}/unbook"
              formmethod="POST">UnBook
      </button>
    {% else %}
      <button class="btn btn-primary"
              formaction="/trainings/{{training.id}}/book"
              formmethod="POST">Book
      </button>
   
    {% endif %}
      </form>
    {% endif %}
    
  </div>
  <div class="card-footer text-muted">
    {{ training.date }} 
  </div>
</div>
{% endfor %}
{% endblock %}