{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm px-4 py-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top img-thumbnail" style="height: 250px;" src="{{ user.image_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ user.username  }}</h5>
      <p class="card-text">{{user.about}}</p>


      {% if g.user.id == user.id %}
      <a href="/users/profile" class="btn btn-danger mx-3">Edit</a>
      {% endif %}
      
    </div>
  </div>
</div>
<div class="col-lg py-4">
  {% if g.user.is_trainer %}  
  <div class="h2">Upcoming Trainings</div>
  <ul class="list-group list-group-flush pt-5">
    {% for training in trainings %}
    <li class="list-group-item">{{training.title}}</li>
    {% endfor %}
      </ul>

  {% else %}
  <div class="h2">Upcoming Trainings</div>
  <ul>
  {% for training in user.user_trainings %}
  <form>
  <li><a class="h3" href="/trainings/{{training.id}}">{{ training.title }}     </a> 
    <button class="btn btn-primary btn-sm"
            formaction="/trainings/{{training.id}}/unbook"
            formmethod="POST">UnBook
    </button>
  </form>
</li>
  {% endfor%}
</ul>
{% endif %}
</div>
</div>





{% endblock %}